doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
		link(rel="stylesheet", href="css/app.css")
		title 🌱 App
	body
		.container.pt-3 
			h4 Bootstrap Template Starter
			.badge.bg-primary by ZXW
			p
			| A starter for building custom bootstrap templates, webpages or UI kits.
			| Pre-setup Gulp workflow for compiling SASS, JS with Pug.